<ion-view view-title="Create Question">
    <ion-content>
        <ion-list>
            <ion-item>
                <form class="create-form" role="form"
                      ng-submit="question.create(question.newObject)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Question</span>
                        <textarea placeholder="Comments" class="form-control"
                                  ng-model="question.newObject.question"
                                  placeholder="Enter description"></textarea>
                        </label>
                    </div>
                    <button class="button button-block button-positive" type="submit">Create</button>
                </form>
            </ion-item> 
        </ion-list>
    </ion-content>
</ion-view>