<ion-view view-title="Create Session">
    <form novalidate>
        <ion-content name="create_session">
            <div class="bar bar-header has-footer">
                <h2 class="title">Create Session</h2>
            </div>
            <div class="bar bar-subheader">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Session Name</span>
                        <input type="text" class="form-control"
                               ng-model="session.newObject.name"
                               placeholder="Enter name"
                               required>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Session Description</span>
                    <textarea placeholder="Comments" class="form-control"
                              ng-model="session.newObject.description"
                              placeholder="Enter description"></textarea>
                    </label>
                </div>
            </div>
            <pre>{{create_session | json}}</pre>
        </ion-content>
        <div class="bar bar-footer bar-stable">
            <button ng-disabled="create_session.$invalid" style="width:100%" class="button button-positive" ng-click="session.create(session.newObject)">Create</button>
        </div>
    </form>
</ion-view>