<ion-view view-title="Questions">
    <ion-content class="has-footer">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="question.updateQuestions()">
        </ion-refresher>
        <ion-list>
            <ion-item class="list card" ng-repeat="object in question.data">
                <div class="item item-icon-right item-icon-left">
                    <i class="ion-compose icon" ng-click="question.editObject(object)"></i>

                    <h2 class="text-center">{{object.question}}</h2>
                    <i class="icon ion-close-round" ng-click="question.delete(object.id)"></i>
                </div>
                <div class="item item-body">
                    {{object.description}}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <button style="width:100%" class="button button-positive" ng-click="question.showAddQuestion()">Add Question<i class="icon ion-plus-round"></i></button>
    </div>
</ion-view>

