<ion-view view-title="Sessions">
    <ion-content class="has-footer">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="session.updateSessions()">
        </ion-refresher>
        <!-- LIST -->
        <ion-list>
            <ion-item class="list card" ng-repeat="object in session.data">
                <div ng-click="session.showQuestions(object.id)" class="item item-icon-right item-icon-left">
                    <i class="ion-compose icon" ng-click="$event.stopPropagation();session.editObject(object)"></i>

                    <h2 class="text-center">{{object.name}}</h2>
                    <i class="icon ion-close-round" ng-click="$event.stopPropagation();session.delete(object.id)"></i>
                </div>
                <div class="item item-body">
                    {{object.description}}
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-stable">
        <button style="width:100%" class="button button-positive" ng-click="session.showAddSession()">Add Session<i class="icon ion-plus-round"></i></button>
    </div>
</ion-view>

